@import "color";
@import "font";

body {
  box-sizing: border-box;
  font: $theme-font;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .container {
    background-color: $theme-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    .control {
      button {
        border: #999 1px solid;
        border-radius: 8px;
        min-height: 32px;
        min-width: 120px;
        cursor: pointer;
      }
      button:hover {
        background-color: $theme-color;
      }
    }

    .debu {
      position: absolute;
    }

  }

}